# EMAIL
EMAIL_USER=user@domain.tld
EMAIL_PASSWORD=xxxxxx
EMAIL_FROM=website-use@domain.tld
EMAIL_HOST=FQDN
# RECIPIENTS
EMAIL_RECIPIENTS='["user@domain.tld", "user@domain.tld", "user@domain.tld"]'
# EMAIL FORM URLS
PROD_CONTACT_ULR=https://url/contact-us
PROD_CONSULT_URL=https://url  #CAPtCHA
PROD_HOME_URL=https://url  #CAPtCHA
INTRANET_CONTACT_URL=https://url/contact-us
INTRANET_CONSULT_URL=https://url  #CAPtCHA
INTRANET_HOME_URL=https://url  #CAPtCHA
TEST_CONTACT_URL=https://url
TEST_CONSULT_URL=https://url  #CAPtCHA
TEST_HOME_URL=https://url  #CAPtCHA
TEST_PDF_URL=https://url
